#main {
    margin: 0px;
    margin-bottom: 15px;
    padding: 0px;
}

#practices-triplet {
    margin-right: auto;
    margin-left: auto;
    width: 1145px;
}

#practices-triplet > div {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

#practices-triplet > #support-materials {
    width: 270px;
    border-right: 1px solid #bab6b8;
}

#practices-triplet > #practice-main {
    width: 490px;
    border-right: 1px solid #bab6b8;
    padding-right: 70px;
}

#practices-triplet > #practice-main > div.practice-headline {
    padding-top: 50px;
    padding-left: 40px;
}

#practices-triplet > #practice-main > div.practice-headline h1 {
    display: inline;
    zoom: 1;
    *display: inline;
    color: #020001;
    font-size: 30px;
    font-family: 'MyriadPro-Bold';
    padding-left: 10px;
    max-width: 585px;
}

#practices-triplet > #practice-main > * {
    padding-left: 24px;
}

#practices-triplet > #practice-main ul {
    padding-left: 60px;
}

#practices-triplet > #practice-main h2 {
    color: #4C4C4C;
    font-family: 'MyriadPro-Bold';
    padding-left: 40px;
    margin-top: 20px;
}

#practices-triplet > #practice-main h3 {
    color: #4C4C4C;
    font-family: 'MyriadPro-Regular';
    padding-left: 40px;
    margin-top: 20px;
}

#practices-triplet > #practice-main p {
    color: #070003;
    font-family: Arial;
    font-size: 14px;
    padding-left: 40px;
}

#practices-triplet > #practice-main p:last-child {
    padding-bottom: 30px;
}

#practices-triplet > #practice-main div.practice-headline + p {
    padding-top: 30px;
}

#practices-triplet > #practice-main.extended {
    width: 760px;
}

#practices-triplet > #practices-submenu {
    width: 300px;
    left: -5px;
    position: relative;
}

#practices-triplet > #practices-submenu > #practices-selector {
    background-color: #7a113f;
}

#practices-triplet > #practices-submenu > #practices-selector > .practice-item {
    display: block;
    width: 100%;
    height: 70px;
}

#practices-triplet > #practices-submenu > #practices-selector > .practice-item a {
    text-decoration: none;
}

#practices-triplet > #practices-submenu > #practices-selector > .practice-item.selected {
    background-color: #99182a;    
}

#practices-triplet > #practices-submenu > #practices-selector > .practice-item:hover {
    background-color: #99182a;    
}    

#practices-triplet > #practices-submenu > #practices-selector > .practice-item div {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

#practices-triplet > #practices-submenu > #practices-selector > .practice-item .practice-icon {
    width: 40px;
    padding-left: 30px;
    padding-top: 20px;
    text-align: center;
    vertical-align: middle;
}

#practices-triplet > #practices-submenu > #practices-selector > .practice-item .practice-submenu-text {
    color: #E9E4E4;
    font-size: 15px;
    font-family: 'MyriadPro-Regular';
    padding-top: 25px;
    vertical-align: middle;
    padding-left: 5px;
}

.ie7 footer {
    margin-top: 0px;
}

.ie7 #practices-triplet > #practices-submenu {
    width: 305px;
    left: 0px;
}

@media screen and (max-width: 768px)
{
    #practices-triplet
    {
        width: auto;
        position: relative;
    }

    #practices-triplet > #practices-submenu
    {
        width: 300px;
        left: 0px;
        position: absolute;
        top: 0px;
    }

    #practices-triplet > #practice-main.extended {
        width: auto;
        margin-left: 300px;
    }
}