@using System.Web.Script.Serialization
@using ClientDependency.Core.Mvc
@model misechko.com.Models.ProjectsViewViewModel

@{
    ViewBag.Title = "Проекти | «Місечко та Партнери»";
    Html.RequiresCss("projects/projects.css", "Content", 110);
    Html.RequiresJs("global/eh/jQuery.equalHeights.js", "Content", 20);
    Html.RequiresJs("projects/projects.js", "Content", 25);
    var initValue = @Html.Raw(new JavaScriptSerializer().Serialize(Model));

    Html.RequiresJs("http://code.jquery.com/jquery-1.8.0.js", 1);
    Html.RequiresJs("knockout-2.2.1.js", "Scripts", 2);
    Html.RequiresJs("RadaCode.KOBindings.js", "Scripts", 3);
    Html.RequiresJs("knockout.validation.js", "Scripts", 3);
}

<div id="singler">
    <div id="projects-view">
        @Html.Hidden("SearchProjectsUrl", Url.Action("SearchProjects", "Projects"))
        @Html.Hidden("initial-projects-data", (HtmlString)initValue)
        @Html.Partial("_ProjectsSearch")
        
        <h3>Знайдені проекти:</h3>
        <ul class="projects-list" data-bind="foreach: DisplayedProjects">
            <li><div class="project-item">
                    <a href="#" data-bind="text: ProjectName, attr: {href: ProjectHREF}"></a>
                </div>
                
            </li>
        </ul>
    </div>
</div>
