#main {
    padding: 0px;
}

#main > div {
    height: 430px;
    position: relative;
}

#main-banner {
  position:relative;
  width: 100%;
  height: 430px;
  min-width: 360px;
  /*float: left;*/
  clear: both;
}

@font-face {
	font-family: "SSStandard";
	src: url('fonts/SSStandard/ss-standard.eot');
	src: url('fonts/SSStandard/ss-standard.eot?#iefix') format('embedded-opentype'), 
		 url('fonts/SSStandard/ss-standard.woff') format('woff'), 
		 url('fonts/SSStandard/ss-standard.ttf')  format('truetype'),
		 url('fonts/SSStandard/ss-standard.svg#SSStandard') format('svg');
	font-weight: normal;
	font-style: normal;
}

#banner-block {
    overflow: hidden;
}

#main-banner > * {
    position: absolute;
}

#exp-lines-container {
    padding-top: 0px;
}

.in-banner-container {
    width: 480px;
    height: 190px;
    text-align: left;
    background-color: white;
    background-image: url(img/bookmark.png);
    background-repeat: no-repeat;
    background-position: -3px 27px;
    z-index: 2;
    overflow: hidden;
    padding: 15px;
}

.in-banner-container.item_0 {

}

.in-banner-container.item_1 {

}

.in-banner-container.item_2 {

}

.in-banner-container.item_3 {

}

.in-banner-container.item_4 {

}

.pause-button {
    position: absolute;
    top: 2%;
    right: 50%;
    width: 50px;
    height: 50px;
    z-index: 5;
    background-image: url('img/pause.png');
    background-repeat: no-repeat;
    background-position: -2px -3px;
    opacity: 0.5;
}

.pause-button:hover {
    background-position: -2px -3px;
    opacity: 1;
}

.ie8 .in-banner-container {
  z-index: 2;
  position: relative;
  width: 380px;
  height: 350px;
}

.ie7 .in-banner-container {
  z-index: 2;
  position: relative;
  width: 380px;
  height: 350px;
}
 

.in-banner-container h2 {
    padding-left: 35px;
    padding-right: 35px;
    font-family: 'MyriadPro-Bold';
    color: #7a113f;
    font-size: 30px;
}

.in-banner-container p {
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: 'MyriadPro-Regular';
    font-size: 12px;
    color: #020004;
}

.bg {
    position:absolute;
    width:100%;
    height:100%;
    z-index:1;
}

/*html.backgroundsize #main-banner {
    background:url(img/banner1.jpg) no-repeat center top;
    background-size:100% auto;
    background-position: center top;
}
html.backgroundsize .bg {display:none;}

html.cssgradients #main-banner {
  background-image: url(img/banner1.jpg);
  background-size:100% auto;
  background-position: center top;
}
html.cssgradients .bg {display:none;}*/

#tri-block {
    width: 1130px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#tri-block > div {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.ie7 #tri-block > div {
    display: inline;
}

#tri-block #about-company {
    width: 420px;
    border-right: 1px solid #bab6b8;

}

#tri-block #about-company p {
    color: #020001;
    font-size: 12px;
    font-family: 'MyriadPro-Regular';
    padding-left: 0px;
    padding-right: 65px;
}

#tri-block .dark-ltr {
    background-color: #7a113f;
    width: 38px;
    height: 34px;
    font-family: 'MyriadPro-Bold';
    font-size: 26px;
    text-align: center;
    color: white;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}

#tri-block .light-ltr {
    background-color: #99182a;
    width: 38px;
    height: 34px;
    font-family: 'MyriadPro-Bold';
    font-size: 26px;
    text-align: center;
    color: white;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}

#tri-block #experience {
    width: 320px;
    padding-left: 35px;
    border-right: 1px solid #bab6b8;
}

#tri-block .subblock-headline {
    padding-top: 35px;
}

#tri-block .subblock-headline h1 {
    color: #020001;
    font-size: 20px;
    font-family: 'MyriadPro-Bold';
    margin-bottom: 30px;
    padding-top: 4px;
}

#tri-block #achievements {
    width: 300px;
    padding-left: 40px;
}

#tri-block > div >  h2 {
    color: #020001;
    font-size: 20px;
    font-family: 'MyriadPro-Bold';
    padding-left: 90px;
    padding-top: 35px;
    margin-bottom: 30px;
}

#tri-block > #about-company >  h2 {
    padding-left: 50px;
}

#main > #news-panel {
    height: 200px;
}

#news-panel {
    background-color: #7a113f;
    background-image: url(img/dot.png);
    background-repeat: repeat;
    min-height: 150px;
    padding-top: 40px;
}

#news-panel .centerer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#news-panel #news-title {
    float: left;
    width: 50%;
    min-height: 100px;
    overflow: hidden;
    color: white;
    font-size: 20px;
    font-family: 'MyriadPro-Bold';
    text-align: right;
}

.ie7 #news-panel #news-title {
    width: 49%;
}

#news-panel #news-title span {
    padding-right: 20%;
}

#news-panel #news-block {
    display: block;
    float: none;
    min-height: 100px;
    overflow: hidden;
    width: 50%;
}

#news-panel #news-block .news-date {
    color: #bb5a68;
    font-size: 15px;
    font-family: 'MyriadPro-Bold';
    padding-top: 5px;
}

#news-panel #news-block .news-text {
    padding-top: 20px;
    font-size: 15px;
    color: white;
    font-family: 'MyriadPro-Regular';
    margin-bottom: 40px;
}

a.rotator_control {color:#fff}
.rotator_control { position: absolute; top: 0; height: 100%; width: 130px; text-align: center; line-height: 471px; color: #fff; font-size: 24px; text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); z-index: 1; display: none; background: url('rotatorcontrols_shadow.png') repeat-y 0 0; }
/*.rotator_control:hover { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1.0; }*/
.rotator_control.left { left: 0; background-position: 0 0; }
.rotator_control.right { right: 0; background-position: -260px 0; }
.rotator_control div { position: absolute; top: 0; left: 0; width: 130px; height: 100%; background: url('img/rotatorcontrols_shadow.png') repeat-y 0 0; }
.rotator_control div.ss-icon { background: none; }
.rotator_control div.bg { display: none; }
.rotator_control.left div.bg { background-position: 0 0; }
.rotator_control.right div.bg { background-position: -260px 0; }

.ss-icon, .ss-icon.ss-standard, [class^="ss-"]::before, [class*=" ss-"]::before, [class^="ss-"].ss-standard::before, [class*=" ss-"].ss-standard::before, [class^="ss-"].right::after, [class*=" ss-"].right::after, [class^="ss-"].ss-standard.right::after, [class*=" ss-"].ss-standard.right::after {
font-family: "SSStandard";
font-style: normal;
font-weight: normal;
text-decoration: none;
text-rendering: optimizeLegibility;
white-space: nowrap;
-webkit-font-feature-settings: "liga";
-moz-font-feature-settings: "liga=1";
-moz-font-feature-settings: "liga";
-ms-font-feature-settings: "liga" 1;
-o-font-feature-settings: "liga";
font-feature-settings: "liga";
-webkit-font-smoothing: antialiased;
vertical-align: bottom;
}

.ss-icon, .ss-icon.ss-standard, [class^="ss-"]::before, [class*=" ss-"]::before, [class^="ss-"].ss-standard::before, [class*=" ss-"].ss-standard::before, [class^="ss-"].right::after, [class*=" ss-"].right::after, [class^="ss-"].ss-standard.right::after, [class*=" ss-"].ss-standard.right::after
{
    font-family: "SSStandard";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    vertical-align: bottom;
}

@media screen and (max-width: 768px)
{
    #tri-block {
        width: auto;
    }

    #tri-block #about-company {
        width: 100%;
        display: block;
    }

    #main-banner {
        height: 315px;
    }

    .in-banner-container {
        margin: 0px auto 0px auto;
    }

    html.backgroundsize #main-banner
    {
        background-size: 100% 100%;
    }
}