#main {
    margin-bottom: 15px;
    padding: 0px;
}

#team-triplet {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
}

#team-triplet > div {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

#team-triplet > #team-right {
    padding-left: 20px;
    
}


#team-triplet #award-lines-container {
    padding-top: 25px;
    padding-left: 5px;
}

#team-triplet > #support-materials {
    width: 270px;
    border-right: 1px solid #bab6b8;
}

#team-triplet > #team-main {
    width: 580px;
    border-right: 1px solid #BAB6B8;
    padding-right: 20px;
}

#team-triplet > #team-main > div.team-headline {
    padding-top: 50px;
    padding-left: 40px;
}

#team-triplet > #team-main > div.team-headline h1 {
    display: inline;
    zoom: 1;
    *display: inline;
    color: #020001;
    font-size: 30px;
    font-family: 'MyriadPro-Bold';
    padding-left: 10px;
    max-width: 585px;
}

#team-triplet > #team-main > * {
    padding-left: 24px;
}

#team-triplet > #team-main > div.team-headline {
    padding-top: 28px;
    padding-left: 25px;
}

#team-members-container {
    padding-top: 20px;
}

#team-triplet > #team-main .team-member-block > div {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
}

#team-triplet > #team-main .team-member-block > .memeber-photo > img {
    width: 225px;
    height: 350px;
}

#team-triplet > #team-main .team-member-block > .memeber-data {
    width: 300px;
    padding-left: 10px;
}

#team-triplet > #team-main .team-member-block > .memeber-data > h1 {
    color: #7a113f;
    font-size: 22px;
}

#team-triplet > #team-main .team-member-block > .memeber-data > h2 {
    color: #4C4C4C;
    font-family: 'MyriadPro-Regular';
    font-size: 15px;
}

#team-triplet > #team-main .team-member-block > .memeber-data > h3 {
    color: #7a113f;
    font-family: 'MyriadPro-Regular';
    font-size: 15px;
}

#team-triplet > #team-main .team-member-block > .memeber-data > p {
    color: #4C4C4C;
    font-family: Arial;
    font-size: 12px;
}