@using ClientDependency.Core.Mvc
@model misechko.com.Models.PracticeViewModel

@{
    ViewBag.Title = "Практики | «Місечко та Партнери»";
    Html.RequiresCss("practices/practices.css", "Content", 110);
    var extended = !Model.HasSupportMaterials ? "extended" : null;
}

<div id="practices-triplet">
    @if(Model.HasSupportMaterials)
    {
        <div id="support-materials"></div>
    }
    <div id="practice-main" class="@extended">
        @Html.Raw(Model.PracticeMarkup)
        <div class="practice-headline">
            <div class="dark-ltr">П</div>
            <h1>Практики</h1>
        </div>
        <p>
            Sayenko Kharenko користується відмінною репутацією серед клієнтів за бездоганну якість юридичного супроводу всіх аспектів ведення бізнесу в Україні. Ми забезпечуємо високий рівень консультацій у сферах банківського та фінансового права, конкурентного права, корпоративного права та M&A, міжнародного арбітражу, міжнародної торгівлі, нерухомості, реструктуризації заборгованості, ринків капіталу, вирішення судових спорів, а також покладаємося на досвід провідних експертів у спеціальних галузях законодавства, таких як право інтелектуальної власності, податкове і трудове законодавство.
        </p>
        <p>
            Фірма володіє багаторічним досвідом роботи в усіх основних галузях економіки. Ми консультуємо державні органи та приватних інвесторів, монопрофільні компанії та диверсифіковані промислові конгломерати, підприємства роздрібної торгівлі та будівельні компанії, медіа сектор та індустрію розваг, провідні міжнародні банки та інвестиційні фонди.
        </p>
    </div>
    <div id="practices-submenu">
        <div id="practices-selector">
            <div class="practice-item">
                <
            </div>
        </div>
    </div>
</div>
