@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('fonts/MyriadProRegular/myriadproregular.eot');
	src: url('fonts/MyriadProRegular/myriadproregular.eot?#iefix') format('embedded-opentype'),
				url('fonts/MyriadProRegular/myriadproregular.woff') format('woff'),
				url('fonts/MyriadProRegular/myriadproregular.ttf') format('truetype'),
				url('fonts/MyriadProRegular/myriadproregular.svg#myriadproregular') format('svg');
	font-weight: normal;
	font-style: normal;
		}
@font-face {
	font-family: 'MyriadPro-LightSemiCn';
	src: url('fonts/MyriadProLightSemiCond/myriadprolightsemicn.eot');
	src: url('fonts/MyriadProLightSemiCond/myriadprolightsemicn.eot?#iefix') format('embedded-opentype'),
				url('fonts/MyriadProLightSemiCond/myriadprolightsemicn.woff') format('woff'),
				url('fonts/MyriadProLightSemiCond/myriadprolightsemicn.ttf') format('truetype'),
				url('fonts/MyriadProLightSemiCond/myriadprolightsemicn.svg#myriadprolightsemicn') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-Bold';
	src: url('fonts/MyriadProBold/myriadprobold.eot');
	src: url('fonts/MyriadProBold/myriadprobold.eot?#iefix') format('embedded-opentype'),
				url('fonts/MyriadProBold/myriadprobold.woff') format('woff'),
				url('fonts/MyriadProBold/myriadprobold.ttf') format('truetype'),
				url('fonts/MyriadProBold/myriadprobold.svg#myriadprobold') format('svg');
	font-weight: normal;
	font-style: normal;
		}

@font-face {
	font-family: 'MyriadPro-BoldCond';
	src: url('fonts/MyriadProBoldCond/myriadproboldcond.eot');
	src: url('fonts/MyriadProBoldCond/myriadproboldcond.eot?#iefix') format('embedded-opentype'),
				url('fonts/MyriadProBoldCond/myriadproboldcond.woff') format('woff'),
				url('fonts/MyriadProBoldCond/myriadproboldcond.ttf') format('truetype'),
				url('fonts/MyriadProBoldCond/myriadproboldcond.svg#myriadproboldcond') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'vegurbold';
    src: url('fonts/VegurBold/vegur-bold-webfont.eot');
    src: url('fonts/VegurBold/vegur-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/VegurBold/vegur-bold-webfont.woff') format('woff'),
         url('fonts/VegurBold/vegur-bold-webfont.ttf') format('truetype'),
         url('fonts/VegurBold/vegur-bold-webfont.svg#vegurbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vegur_lightregular';
    src: url('fonts/VegurLight/vegur-light-webfont.eot');
    src: url('fonts/VegurLight/vegur-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/VegurLight/vegur-light-webfont.woff') format('woff'),
         url('fonts/VegurLight/vegur-light-webfont.ttf') format('truetype'),
         url('fonts/VegurLight/vegur-light-webfont.svg#vegur_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vegurregular';
    src: url('fonts/VegurRegular/vegur-regular-webfont.eot');
    src: url('fonts/VegurRegular/vegur-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/VegurRegular/vegur-regular-webfont.woff') format('woff'),
         url('fonts/VegurRegular/vegur-regular-webfont.ttf') format('truetype'),
         url('fonts/VegurRegular/vegur-regular-webfont.svg#vegurregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
	overflow-y: auto;
    background: white;
    height: 100%;
}

body 
{    
    background-color: white;
    height: 100%;
}

#mobile_menu_link {
    float: right;
    height: 34px;
    line-height: 34px;
    text-align: center;
    display: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 42px;
    padding: 0 10px;
    color: white;
    cursor: pointer;
}

#mobile_menu_link span {
    font-size: 14px;
    padding-right: 10px;
    margin-top: 2px;
    float: left;
}

#admin-links {
    float: left;
}

#langSelect {
    float: right;
}

#lang-block #lang-top-line {
    height: 30px;
}

#lang-block #lang-top-line a {
    text-decoration: none;
    color: #7a113f;
    font-family: 'MyriadPro-LightSemiCn';
    font-size: 13px;
}

#triplet {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
}

#triplet > div {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

#triplet > #support-materials {
    width: 270px;
    border-right: 1px solid #bab6b8;
}

#triplet > #main-content {
    /*width: 490px;
    border-right: 1px solid #bab6b8;
    padding-right: 50px;*/
}

#triplet > #main-content > div.headline {
    padding-top: 50px;
    padding-left: 40px;
}

#triplet > #submenu {
    width: 326px;
    left: 58px;
    position: relative;
}

#triplet > #submenu > #selector {
    background-color: #7a113f;
    padding-top: 15px;
    padding-bottom: 15px;
}

#triplet > #submenu > #selector > .item {
    display: block;
    width: 100%;
    height: 65px;
}

#triplet > #submenu > #selector > .item a {
    text-decoration: none;
}

#triplet > #submenu > #selector > .item.selected {
    background-color: #99182a;    
}

#triplet > #submenu > #selector > .item:hover {
    background-color: #99182a;    
}    

#triplet > #submenu > #selector > .item div {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

#triplet > #submenu > #selector > .item .icon {
    width: 40px;
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;
    vertical-align: middle;
}

#triplet > #submenu > #selector > .item .submenu-text {
    /*color: #E9E4E4;*/
    color: white;
    font-size: 16px;
    font-family: Tahoma;
    padding-top: 15px;
    vertical-align: middle;
    padding-left: 35px;
    padding-right: 10px;
}

#lang-block #lang-top-line > * {
    display: inline-block;
    vertical-align: top;
}

#triplet > #main-content > div.headline h1 {
    display: inline;
    zoom: 1;
    *display: inline;
    color: #020001;
    font-size: 30px;
    font-family: 'MyriadPro-Bold';
    padding-left: 10px;
    max-width: 585px;
}

#triplet > #main-content > * {
    /*padding-left: 24px;*/
}

#triplet > #main-content ul {
    padding-left: 20px;
}

#triplet > #main-content h2 {
    color: #4C4C4C;
    font-family: 'MyriadPro-Bold';
    /*padding-left: 40px;*/
    margin-top: 20px;
}

#triplet > #main-content h3 {
    color: #4C4C4C;
    font-family: 'MyriadPro-Regular';
    /*padding-left: 40px;*/
    margin-top: 20px;
}

#triplet > #main-content p {
    color: #070003;
    font-family: Arial;
    font-size: 14px;
    /*padding-left: 40px;*/
}

#triplet > #main-content li {
    color: #070003;
    font-family: Arial;
    font-size: 14px;
}

#triplet > #main-content p:last-child {
    padding-bottom: 30px;
}

#triplet > #main-content div.headline + p {
    padding-top: 30px;
}

#triplet > #main-content.extended {
    width: 811px;
}

.ie7 #lang-block #lang-top-line > * {
    display: inline!important;
    vert-align: top;
}

#lang-block > #lang-top-line > .lang-button {
    border: solid 1px rgb(233, 229, 238);
    width: 30px;
    height: 20px;
}

#lang-block > #lang-top-line > .lang-button:hover {
    border: solid 1px #7a113f;
    cursor: pointer;
}

#lang-block > #lang-top-line > .lang-button.selected:hover {
    cursor: default;
}

#lang-block > #lang-top-line > .lang-button.selected {
    border: solid 1px rgb(99, 104, 218);
}

#bottom-contacts .addr {
    padding-top: 6px;
    vertical-align: top;
    color: #7a113f;
    /*font-family: 'vegur_lightregular';*/
    font-family: Tahoma;
    font-size: 16px;
    padding-right: 15px;
}

#bottom-contacts #lang-contact-line {
    font-family: 'MyriadPro-BoldCond';
    font-size: 32px;
    color: #7a113f;
    text-align: right;
    padding-right: 15px;
}

#bottom-contacts {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
}

.single-content p {
    /*padding-left: 40px;*/
}

/*#lang-block #lang-top-line .addr {
    padding-top: 6px;
    vertical-align: top;
    vert-align: top;
}

#lang-block #lang-top-line span {
    color: #7a113f;
    font-family: 'vegur_lightregular';
    font-size: 13px;
}



#lang-block #lang-contact-line {
    font-family: 'MyriadPro-BoldCond';
    font-size: 32px;
    color: #7a113f;
    text-align: right;
    padding-right: 15px;
}

#lang-block span.ddlabel {
    display: inline-block;
} 

#lang-block .dd {
    border: none;
}

#lang-block .ddTitle {
    background: none;
}

#lang-block .ddTitleText img {
    display: inline-block;
}

#lang-block .ddTitle .divider {
    display: none;
}

#lang-block .dd.ddcommon.borderRadius {
    width: 85px!important;
}

#lang-block .dd.ddcommon.borderRadiusTp {
    width: 85px!important;
}

.ie8 #lang-block .dd.ddcommon.borderRadius {
    width: 90px!important;
}

.ie8 #lang-block .dd.ddcommon.borderRadiusTp {
    width: 90px!important;
}

.ie7 #lang-block .dd.ddcommon.borderRadius {
    width: 90px!important;
}

.ie7 #lang-block .dd.ddcommon.borderRadiusTp {
    width: 90px!important;
}*/

#logo {
    float: left;
    margin: 10px -60px 0 -20px;
    width: 14%;
}

#logo a {
    text-decoration: none;
}

#logo img {
    width: 100%;
}

header {
    border-bottom: solid 20px #7a113f;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.ie7 header {
    display: block;
    border-bottom-color: #7a113f;
    border-bottom-style: solid;
    border-bottom-width: 20px;
}

.header-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1205px;
    padding: 0 12px;
    padding-top: 20px;
}

menu {
    width: 93%;
    margin-top: 12px;
    margin-left: 8%;
}

.ie7 menu {
    margin-bottom: -22px;
}

ul#menu {
    display: inline-block;
    list-style-type: none;
    margin-left: 0px;
    width: 100%;
    border-bottom: none;
    padding: 0;
}

ul#menu li {
    display: inline-block;
    height: 50px;
    width: 95px;
    text-align: left;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 26px;
    vertical-align: top;
}

.ie7 ul#menu li {
    display: inline;
}

ul#menu li:hover {
    background-color: #7a113f;
} 

ul#menu li:hover h2 {
    color: white;
}

ul#menu li.selected {
    background-color: #7a113f;
} 

ul#menu li.selected h2 {
    color: white;
}

ul#menu li.selected p {
    color: white;
}


ul#menu li a {
    text-decoration: none;
}

.ie7 ul#menu li:hover a {
    background-color: #7a113f; 
} 

ul#menu li > a > p {
    color: #817f84;
    font-size: 12px;
    font-family: 'MyriadPro-Regular';
}

ul#menu li >  p {
    color: #817F84;
    font-size: 12px;
    font-family: 'MyriadPro-Regular';
}

ul#menu li:hover > a > p {
    color: white;
}

ul#menu li h2 {
    font-family: Tahoma;
    font-size: 16px;
    color: #7a113f;
    cursor: pointer;
}

ul#menu li h2.selected {
    color: white;
}



footer {
    margin-top: -15px;
}

.made-in-radacode {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #bab6b8;
}

.made-in-radacode > .centered {
    margin-left: auto;
    margin-right: auto;
    display: table;
    display: inline-block;
}

.made-in-radacode .rdc-logo {
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 152px;
    height: 53px;
    background: url('img/rd-logo.png') no-repeat;
    vertical-align: top;
}

.made-in-radacode .copyright-text {
    color: #636465;
    font-family: Verdana;
    font-size: 12px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    padding-top: 19px;
    padding-left: 10px;
}

.ie7 .made-in-radacode .copyright-text
{
    display: inline;
}

.ie7 .made-in-radacode .copyright-text
{
    display: inline;
}


#bottom-menu {
    height: 50px;
    text-align: center;
    border-bottom: 1px solid #bab6b8;
    padding-top: 25px;
    display: none;
}

#bottom-menu a {
    color: #7a113f;
    font-family: 'MyriadPro-Regular';
    font-size: 15px;
    text-decoration: none;
}

#bottom-menu a:hover {
    text-decoration: underline;
}

#bottom-menu ul {
    display: inline-block;
    list-style-type: none;
    margin-left: 0px;
    width: 100%;
    border-bottom: none;
    padding: 0;
}

.ie7 #bottom-menu > ul > li {
    display: inline;
}

#bottom-menu > ul > li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

#exp-lines-container {
    padding-top: 25px;
}

#main {
    margin-bottom: 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: 14px;
    padding-top: 0px;
}

.block-headline {
    padding-top: 40px;
    /*padding-left: 40px;*/
    display: block;
    padding-bottom: 40px;
}

.block-headline > h1 {
    display: inline-block;
    margin-left: 15px;
    font-size: 30px;
    font-family: 'MyriadPro-Bold'; 
    margin-top: -5px;   
}

.subblock-headline {
    padding-top: 30px;
    display: block;
}

.subblock-headline > h1 {
    display: inline-block;
    margin-left: 15px;
    font-size: 30px;
    font-family: 'MyriadPro-Bold';    
}

.dark-ltr {
    background-color: #7a113f;
    width: 38px;
    height: 37px;
    font-family: 'MyriadPro-Bold';
    font-size: 30px;
    text-align: center;
    color: white;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
} 

.light-ltr {
    background-color: #99182a;
    width: 38px;
    height: 37px;
    font-family: 'MyriadPro-Bold';
    font-size: 30px;
    text-align: center;
    color: white;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
}

#publications-items-container {
    padding-top: 25px;
}

.pub-item {
    padding-left: 25px;
    background-image: url(img/publication-icon.png);
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.pub-item .pub-slug {
    margin-left: 15px;
    width: 180px;
    color: #070003;
    font-size: 12px;
    font-family: 'MyriadPro-Regular';
}

.pub-item a {
    text-decoration: none;
}

.exp-item {
    margin-bottom: 20px;
}

.exp-item > div {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
}

.exp-item .exp-year {
    color: #7a113f;
    font-size: 15px;
    font-family: 'MyriadPro-Bold';
}

.exp-item .exp-slug {
    margin-left: 15px;
    width: 180px;
    color: #070003;
    font-size: 12px;
    font-family: 'MyriadPro-Regular';
}

.award-item {
    margin-bottom: 20px;
}

.award-item > div {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
}

.award-item .award-icon {
    
}

.award-item .award-slug {
    margin-left: 15px;
    width: 200px;
    color: #070003;
    font-size: 12px;
    font-family: 'MyriadPro-Regular';
}

#singler {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    padding-top: 0px;
}

.red-select {
   width: 320px;
   height: 34px;
   overflow: hidden;
   background: url(img/down_arrow_select.png) no-repeat right #ddd;
   border: 1px solid #ccc;
}

.red-input {
   width: 320px;
   height: 34px;
   overflow: hidden;
   background: #ddd;
   border: 1px solid #ccc;
}

.project-item {
    padding-left: 40px;
    background: url(img/bookmark.png) no-repeat left;
}

ul.projects-list {
    list-style: none;
    margin-left: 0px;
    margin-top: 20px;
}

.red-input input {
background: transparent;
width: 320px;
padding: 5px;
border: 0;
border-radius: 0;
font-size: 16px;
line-height: 1;
height: 34px;
-webkit-appearance: none;
}

.red-select select {
background: transparent;
width: 320px;
padding: 5px;
border: 0;
border-radius: 0;
font-size: 16px;
line-height: 1;
height: 34px;
-webkit-appearance: none;
}

.global-headline {
    padding-top: 10px;
}

#singler p {
    color: #070003;
    font-family: Arial;
    font-size: 14px;
}

#singler li {
    color: #070003;
}

div.global-headline h1 {
    display: inline;
    zoom: 1;
    color: #020001;
    font-size: 30px;
    font-family: 'MyriadPro-Bold';
    padding-left: 15px;
}

@media screen and (max-width: 1160px) {
	#logo {
	    bottom: 100px;
        position: relative;
	}
}

/* iPad */

@media screen and (max-width: 768px)
{

    menu {
        float: left;
        width: 80%;
        margin-top: 30px;
    }

    ul#menu li {
        height: 116px;
        width: 135px;
    }

    #logo {
        width: 20%;
    }

    ul#menu li > a > p {
        padding-top: 15px;
    }
}