@font-face {
				font-family: 'MyriadPro-Regular';
				src: url('fonts/MyriadProRegular/myriadproregular.eot');
				src: url('fonts/MyriadProRegular/myriadproregular.eot?#iefix') format('embedded-opentype'),
						 url('fonts/MyriadProRegular/myriadproregular.woff') format('woff'),
						 url('fonts/MyriadProRegular/myriadproregular.ttf') format('truetype'),
						 url('fonts/MyriadProRegular/myriadproregular.svg#myriadproregular') format('svg');
				font-weight: normal;
				font-style: normal;
		}
@font-face {
	font-family: 'MyriadPro-LightSemiCn';
	src: url('fonts/MyriadProLightSemiCond/myriadprolightsemicn.eot');
	src: url('fonts/MyriadProLightSemiCond/myriadprolightsemicn.eot?#iefix') format('embedded-opentype'),
				url('fonts/MyriadProLightSemiCond/myriadprolightsemicn.woff') format('woff'),
				url('fonts/MyriadProLightSemiCond/myriadprolightsemicn.ttf') format('truetype'),
				url('fonts/MyriadProLightSemiCond/myriadprolightsemicn.svg#myriadprolightsemicn') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-Bold';
	src: url('fonts/MyriadProBold/myriadprobold.eot');
	src: url('fonts/MyriadProBold/myriadprobold.eot?#iefix') format('embedded-opentype'),
				url('fonts/MyriadProBold/myriadprobold.woff') format('woff'),
				url('fonts/MyriadProBold/myriadprobold.ttf') format('truetype'),
				url('fonts/MyriadProBold/myriadprobold.svg#myriadprobold') format('svg');
	font-weight: normal;
	font-style: normal;
		}

@font-face {
	font-family: 'MyriadPro-BoldCond';
	src: url('fonts/MyriadProBoldCond/myriadproboldcond.eot');
	src: url('fonts/MyriadProBoldCond/myriadproboldcond.eot?#iefix') format('embedded-opentype'),
				url('fonts/MyriadProBoldCond/myriadproboldcond.woff') format('woff'),
				url('fonts/MyriadProBoldCond/myriadproboldcond.ttf') format('truetype'),
				url('fonts/MyriadProBoldCond/myriadproboldcond.svg#myriadproboldcond') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	overflow-y: auto;
    background: white;
}

body 
{    
    background-color: white;
}

#mobile_menu_link {
    float: right;
    height: 34px;
    line-height: 34px;
    text-align: center;
    display: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 42px;
    padding: 0 10px;
    color: white;
    cursor: pointer;
}

#mobile_menu_link span {
    font-size: 14px;
    padding-right: 10px;
    margin-top: 2px;
    float: left;
}

#langSelect {
    float: right;
}

#lang-block #lang-top-line {
    height: 30px;
}

#lang-block #lang-top-line a {
    text-decoration: none;
    color: #7a113f;
    font-family: 'MyriadPro-LightSemiCn';
    font-size: 13px;
}

#lang-block #lang-top-line > * {
    display: inline-block;
}

.ie7 #lang-block #lang-top-line > * {
    display: inline!important;
}

#lang-block #lang-top-line .addr {
    padding-top: 5px;
    vertical-align: top;
    vert-align: top;
}

#lang-block #lang-top-line span {
    color: #7a113f;
    font-family: 'MyriadPro-LightSemiCn';
    font-size: 13px;
}

#lang-block #lang-contact-line {
    font-family: 'MyriadPro-BoldCond';
    font-size: 32px;
    color: #7a113f;
    text-align: right;
    padding-right: 15px;
}

.ie8 #lang-block .dd.ddcommon.borderRadius {
    width: 90px!important;
}

.ie8 #lang-block .dd.ddcommon.borderRadiusTp {
    width: 90px!important;
}

.ie7 #lang-block .dd.ddcommon.borderRadius {
    width: 90px!important;
}

.ie7 #lang-block .dd.ddcommon.borderRadiusTp {
    width: 90px!important;
}

#logo {
    float: left;
    margin: 25px -60px 0 0;
    width: 12%;
}

#logo a {
    text-decoration: none;
}

#logo img {
    width: 100%;
}

header {
    border-bottom: solid 20px #7a113f;
}

.ie7 header {
    display: block;
    border-bottom-color: #7a113f;
    border-bottom-style: solid;
    border-bottom-width: 20px;
}

.header-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1205px;
    padding: 0 12px;
    padding-top: 20px;
}

menu {
    float: left;
    width: 88%;
    margin-top: 10px;
}

.ie7 menu {
    margin-bottom: -22px;
}

ul#menu {
    display: inline-block;
    list-style-type: none;
    margin-left: 0px;
    width: 100%;
    border-bottom: none;
    padding: 0;
}

ul#menu li {
    display: inline-block;
    height: 79px;
    width: 98px;
    text-align: left;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 35px;
    padding-bottom: 26px;
    vertical-align: top;
    margin-right: 10px;
}

.ie7 ul#menu li {
    display: inline;
}

ul#menu li:hover {
    background-color: #7a113f;
} 

ul#menu li:hover h2 {
    color: white;
}

ul#menu li a {
    text-decoration: none;
}

.ie7 ul#menu li:hover a {
    background-color: #7a113f; 
} 

ul#menu li > a > p {
    color: #817f84;
    font-size: 12px;
    font-family: 'MyriadPro-Regular';
}

ul#menu li:hover > a > p {
    color: white;
}

ul#menu li h2 {
    font-family: 'MyriadPro-Bold';
    font-size: 15px;
    color: #7a113f;
    cursor: pointer;
}

ul#menu li h2.selected {
    color: white;
}

#lang-block span.ddlabel {
    display: inline-block;
} 

#lang-block .dd {
    border: none;
}

#lang-block .ddTitle {
    background: none;
}

#lang-block .ddTitleText img {
    display: inline-block;
}

#lang-block .ddTitle .divider {
    display: none;
}

#lang-block .dd.ddcommon.borderRadius {
    width: 81px!important;
}

#lang-block .dd.ddcommon.borderRadiusTp {
    width: 81px!important;
}

footer {
    margin-top: -15px;
}

.made-in-radacode {
    text-align: center;
    margin-bottom: 20px;
}

.made-in-radacode > .centered {
    margin-left: auto;
    margin-right: auto;
    display: table;
    display: inline-block;
}

.made-in-radacode .rdc-logo {
    display: inline-block;
    width: 152px;
    height: 53px;
    background: url('img/rd-logo.png') no-repeat;
    vertical-align: top;
}

.made-in-radacode .copyright-text {
    color: #636465;
    font-family: Verdana;
    font-size: 12px;
    display: inline-block;
    padding-top: 19px;
    padding-left: 10px;
}

.ie7 .made-in-radacode .copyright-text
{
    display: inline;
}

.ie7 .made-in-radacode .copyright-text
{
    display: inline;
}