@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('global/fonts/MyriadProRegular/myriadproregular.eot');
	src: url('global/fonts/MyriadProRegular/myriadproregular.eot?#iefix') format('embedded-opentype'),
				url('global/fonts/MyriadProRegular/myriadproregular.woff') format('woff'),
				url('global/fonts/MyriadProRegular/myriadproregular.ttf') format('truetype'),
				url('global/fonts/MyriadProRegular/myriadproregular.svg#myriadproregular') format('svg');
	font-weight: normal;
	font-style: normal;
		}


#info-line {
    margin:0 auto;
    margin-top  :150px;
    width: 800px;
    height:143px;
}

#img-logo {
    float:left;
}

#info-line > h1 {
    font-family:'MyriadPro-Regular';
    font-size: 18px;
    color: #858585;
    font-weight: 100;    
    float: left;
    margin-left: 26px;
    margin-top: 105px;
}

a {
     color: #858585;
}

