@{
    ViewBag.Title = "Юридична Фірма «Місечко та Партнери»";
}

<div id="singler">
    <div class="global-headline">
        <div class="dark-ltr">К</div>
        <h1>Контактна інформація</h1>
    </div>
    <div id="contact-info" style="padding-top: 30px;">
        <h2>Україна</h2>
        <p>01033, м. Київ, вул. Володимирська 76Б, офіс 7</a><br>Телефон/факс:&nbsp;+380 (44) 279-39-43<br>Телефон/факс: +380 (44) 287-54-80<br></p>
        <p><span><span size="2" style="font-size: x-small;"><iframe height="480" marginheight="0" src="http://maps.google.ru/maps?f=q&amp;source=s_q&amp;hl=uk&amp;geocode=&amp;q=Misechko+%26+Partners,+%D0%AE%D1%80%D0%B8%D0%B4%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F+%D1%84%D0%B8%D1%80%D0%BC%D0%B0,+%D0%9A%D0%B8%D1%97%D0%B2,+%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B0&amp;aq=0&amp;sll=50.436936,30.508663&amp;sspn=0.00193,0.004823&amp;ie=UTF8&amp;hq=Misechko+%26+Partners,+%D0%AE%D1%80%D0%B8%D0%B4%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F+%D1%84%D0%B8%D1%80%D0%BC%D0%B0,&amp;hnear=%D0%9A%D0%B8%D1%97%D0%B2,+%D0%BC%D1%96%D1%81%D1%82%D0%BE+%D0%9A%D0%B8%D1%97%D0%B2,+%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B0&amp;cid=12853179067358298201&amp;ll=50.437172,30.508862&amp;spn=0.052481,0.109863&amp;z=13&amp;iwloc=A&amp;output=embed" frameborder="0" width="640" marginwidth="0" scrolling="no"></iframe></span><br><br></span></p>
    </div>
</div>
