@{
    ViewBag.Title = "Юридична Фірма «Місечко та Партнери»";
}

<div id="singler">
    <div class="global-headline">
        <div class="dark-ltr">М</div>
        <h1>Юридична Фірма «Місечко та Партнери»</h1>
    </div>
    <p></p><p style="text-align: justify;">﻿﻿ЮФ «Місечко та Партнери» – це юридична фірма, заснована в м. Києві в 2009 році, надає повний спектр юридичних та консалтингових послуг, завдяки чому займає впевнену позицію на цьому ринку.</p>
    <p style="text-align: justify;">Юридична Фірма «Місечко та Партнери» – це, в першу чергу, команда досвідчених, амбіційних та впевнених у собі юристів, які відповідально і, в той же час, креативно підходять до реалізації завдань та проектів клієнтів. Наші спеціалісти здійснюють комплексне юридичне обслуговування українських та іноземних компаній.</p>
    <p style="text-align: justify;">Метою нашої фірми є пошук взаєморозуміння з кожним клієнтом та надання високоякісної професійної допомоги шляхом консультацій, підготовки юридичних документів, представлення інтересів клієнтів у судових та інших державних органах, а також надання роз’яснень щодо різних юридичних аспектів ведення підприємницької діяльності.</p>
    <p style="text-align: justify;"><strong><span>Напрямки роботи та послуги</span></strong></p>
    <p style="text-align: justify;">﻿﻿Юридична Фірма «Місечко та Партнери» надає широкий спектр юридичних послуг в таких галузях, як банківська справа та фінанси, корпоративне, комерційне право, конкуренція і антимонопольне законодавство, міжнародна торгівля, врегулювання спорів, M&amp;A (злиття та поглинання), трудові відносини, нерухомість, банкрутство, цінні папери, оподаткування та телекомунікації.﻿﻿</p>
    <p style="text-align: justify;"><span><strong><span>Основні практики ЮФ «Місечко та Партнери»:</span></strong></span></p>
    <p style="text-align: justify;"></p>
    <ul style="text-align: justify;">
    <li>корпоративне право</li>
    <li>оподаткування</li>
    <li>судове представництво та виконавче провадження</li>
    <li>M&amp;A</li>
    <li>антимонопольне право</li>
    <li>земельні відносини</li>
    <li>нерухомість</li>
    <li>інвестиційна діяльність</li>
    </ul>
    <p style="text-align: justify;"></p>
    <p style="text-align: justify;"><strong><span><span>Ми також надаємо юридичні послуги в наступних галузях:</span></span></strong></p>
    <ul style="text-align: justify;">
    <li>страхування</li>
    <li style="text-align: justify;">трудове право</li>
    <li style="text-align: justify;">банківське та фінансове право</li>
    <li style="text-align: justify;">інтелектуальна власність</li>
    <li style="text-align: justify;">митний і валютний контроль</li>
    <li style="text-align: justify;">банкрутство</li>
    </ul>
    <p style="text-align: justify;">Робочими мовами персоналу є українська, російська, англійська.</p>
</div>
