<div class="subblock-headline">
    <div class="light-ltr">Н</div>
    <h1>Awards</h1>
</div>
<div id="award-lines-container">
    <div class="award-item">
        <div class="award-icon"><img src="@Url.Content("~/Content/home/img/award1.png")"/></div>
        <div class="award-slug">
            Law firm of the year. IFLR Awards 2012.
        </div>
    </div>
    <div class="award-item">
        <div class="award-icon"><img src="@Url.Content("~/Content/home/img/award2.png")"/></div>
        <div class="award-slug">
          Law firm of the year: Russia and CIS. Finalist. The Lawyer European Awards 2012.
        </div>
    </div>
    <div class="award-item">
        <div class="award-icon"><img src="@Url.Content("~/Content/home/img/award1.png")"/></div>
        <div class="award-slug">
           Best law firm on a stock market. Cbonds Awards 2011.
        </div>
    </div>
</div>