<div class="subblock-headline">
    <div class="light-ltr">Н</div>
    <h1>Нагороди</h1>
</div>
<div id="award-lines-container">
    <div class="award-item">
        <div class="award-icon"><img src="@Url.Content("~/Content/home/img/award1.png")"/></div>
        <div class="award-slug">
            Юридична фірма року в Україні. IFLR Awards 2012.
        </div>
    </div>
    <div class="award-item">
        <div class="award-icon"><img src="@Url.Content("~/Content/home/img/award2.png")"/></div>
        <div class="award-slug">
            Юридична фірма року: Росія та СНД. Фіналіст. The Lawyer European Awards 2012.
        </div>
    </div>
    <div class="award-item">
        <div class="award-icon"><img src="@Url.Content("~/Content/home/img/award1.png")"/></div>
        <div class="award-slug">
            Краща юридична фірма на фондовому ринку України. Cbonds Awards 2011.
        </div>
    </div>
</div>