<div class="subblock-headline">
    <div class="light-ltr">Н</div>
    <h1>Награды</h1>
</div>
<div id="award-lines-container">
    <div class="award-item">
        <div class="award-icon"><img src="@Url.Content("~/Content/home/img/award1.png")"/></div>
        <div class="award-slug">
            Юридическая фирма года в Украине. IFLR Awards 2012.
        </div>
    </div>
    <div class="award-item">
        <div class="award-icon"><img src="@Url.Content("~/Content/home/img/award2.png")"/></div>
        <div class="award-slug">
          Юридическая фирма года: Россия и СНГ. Финалист. The Lawyer European Awards 2012.
        </div>
    </div>
    <div class="award-item">
        <div class="award-icon"><img src="@Url.Content("~/Content/home/img/award1.png")"/></div>
        <div class="award-slug">
            Лучшая юридическая фирма на фондовом рынке Украины. Cbonds Awards 2011.
        </div>
    </div>
</div>