<div class="subblock-headline">
    <div class="dark-ltr">П</div>
    <h1>Проекти</h1>
</div>
<div id="exp-lines-container">
    <div class="exp-item">
        <div class="exp-year">2012</div>
        <div class="exp-slug">
            <span>Misechko & partners - юридичний радник у зв'язку з найбільшою M&A трансакцією у банківському секторі України</span>
        </div>
    </div>
    <div class="exp-item">
        <div class="exp-year">2011</div>
        <div class="exp-slug">
            Misechko & partners - юридичний радник у зв'язку з найбільшою M&A трансакцією у банківському секторі України
        </div>
    </div>
    <div class="exp-item">
        <div class="exp-year">2011</div>
        <div class="exp-slug">
            Misechko & partners - юридичний радник у зв'язку з найбільшою M&A трансакцією у банківському секторі України
        </div>
    </div>
</div>