@model List<misechko.com.data.Entities.LawNew>

@{
    Model.Sort((a, b) => a.ListWeight.CompareTo(b.ListWeight));
}

<div class="block-headline">
    <div class="light-ltr">N</div>  
    <h1>News of legislation</h1>
</div>

<div id="press-block">
    @foreach(var newItem in Model)
    {
        <div class="law-news-item">
            <div class="year">@newItem.PublishDate.Year</div>
                <div class="brochure-block">
                    <div class="date"><span>@newItem.PublishDate.Date.ToString("dd/MM")</span></div>
                    <div class="link"><a target="_blank" href="@newItem.Url">@newItem.Headline</a></div>
                </div>
            </div>
    }
</div>