@model List<misechko.com.data.Entities.LawNew>

@{
    Model.Sort((a, b) => a.ListWeight.CompareTo(b.ListWeight));
}

<div class="block-headline">
    <div class="light-ltr">Н</div>  
    <h1>Новини законодавства</h1>
</div>

<div id="press-block">
    @foreach(var newItem in Model)
    {
         <div class="law-news-item">
            @*<div class="law-news-date"><span>@newItem.PublishDate.Date.ToString("dd/MM")</span></div>*@
            <div class="law-news-link"><a target="_blank" href="@newItem.Url">@newItem.Headline</a></div>
        </div>
    }
</div>