@using ClientDependency.Core.Mvc
@{
    ViewBag.Title = "Юридична Фірма «Місечко та Партнери»";
    Html.RequiresCss("home/home.css", "Content", 110);
}

<div id="main-banner">
    <div class="in-banner-container"></div>
    <img src="@Url.Content("~/Content/home/img/banner1.jpg")" class="bg" />
</div>
