@using ClientDependency.Core.Mvc
@{
    ViewBag.Title = "Юридична Фірма «Місечко та Партнери»";
    Html.RequiresCss("home/home.css", "Content", 110);
}

<div id="main-banner">
    <div class="in-banner-container">
        <h2>У нас процюють кращі юристи з усієї України</h2>
        <p>Добросовісна конкуренція є важливою запорукою ділового успіху. Саме тому фірма «Місечко та Партнери» забезпечує своїм клієнтам правову підтримку та юридичний захист у сфері конкурентного та антимонопольного права та допомагає  їм у  досягненні поставлених ними цілей, за умови неухильного дотримання вимог законодавства.</p>
    </div>
    <img src="@Url.Content("~/Content/home/img/banner1.jpg")" class="bg" />
</div>
<div id="tri-block">
    <div id="about-company">
        <h2>Компания</h2>
        <p>Misechko & partners - одна з провідних юридичних фірм України, що спеціалізується на супроводженні складних трансакцій та проектів у сфері вирішення спорів. Фірма заслужила високу репутацію серед клієнтів завдяки інноваційним юридичним рішенням в усіх основних галузях права.</p>
        <p>Професійний досвід фірми у таких сферах, як  вирішення судових спорів, конкурентне право, корпоративне право та M&A, міжнародна торгівля, міжнародний арбітраж, нерухомість, оподаткування, реструктуризація заборгованості, трудове право, фінансове право - підтверджений найвищими позиціями у рейтингових таблицях проектів, нагородами та професійними рейтингами.</p>
    </div>
    <div id="experience">
        <h2>Опыт</h2>
    </div>
    <div id="achievements">
        <h2>Награды</h2>
    </div>
</div>
