@using ClientDependency.Core.Mvc
@{
    ViewBag.Title = "Юридична Фірма «Місечко та Партнери»";
    Html.RequiresCss("home/home.css", "Content", 110);
    Html.RequiresJs("global/eh/jQuery.equalHeights.js", "Content", 20);
    Html.RequiresJs("home/home.js", "Content", 25);
}

<div id="main-banner">
    <div class="in-banner-container">
        <h2>У нас процюють кращі юристи з усієї України</h2>
        <p>Добросовісна конкуренція є важливою запорукою ділового успіху. Саме тому фірма «Місечко та Партнери» забезпечує своїм клієнтам правову підтримку та юридичний захист у сфері конкурентного та антимонопольного права та допомагає  їм у  досягненні поставлених ними цілей, за умови неухильного дотримання вимог законодавства.</p>
    </div>
    <img src="@Url.Content("~/Content/home/img/banner1.jpg")" class="bg" />
</div>
<div id="tri-block">
    <div id="about-company">
        <div class="subblock-headline">
            <div class="light-ltr">К</div>
            <h1>Компанія</h1>
        </div>
        <p>Misechko & partners - одна з провідних юридичних фірм України, що спеціалізується на супроводженні складних трансакцій та проектів у сфері вирішення спорів. Фірма заслужила високу репутацію серед клієнтів завдяки інноваційним юридичним рішенням в усіх основних галузях права.</p>
        <p>Професійний досвід фірми у таких сферах, як  вирішення судових спорів, конкурентне право, корпоративне право та M&A, міжнародна торгівля, міжнародний арбітраж, нерухомість, оподаткування, реструктуризація заборгованості, трудове право, фінансове право - підтверджений найвищими позиціями у рейтингових таблицях проектів, нагородами та професійними рейтингами.</p>
    </div>
    <div id="experience">
        <div class="subblock-headline">
            <div class="dark-ltr">Д</div>
            <h1>Досвід</h1>
        </div>
        <div id="exp-lines-container">
            <div class="exp-item">
                <div class="exp-year">2012</div>
                <div class="exp-slug">
                    <span>Misechko & partners - юридичний радник у зв'язку з найбільшою M&A трансакцією у банківському секторі України</span>
                </div>
            </div>
            <div class="exp-item">
                <div class="exp-year">2011</div>
                <div class="exp-slug">
                    Misechko & partners - юридичний радник у зв'язку з найбільшою M&A трансакцією у банківському секторі України
                </div>
            </div>
            <div class="exp-item">
                <div class="exp-year">2011</div>
                <div class="exp-slug">
                    Misechko & partners - юридичний радник у зв'язку з найбільшою M&A трансакцією у банківському секторі України
                </div>
            </div>
        </div>
    </div>
    <div id="achievements">
         <div class="subblock-headline">
            <div class="light-ltr">Н</div>
            <h1>Нагороди</h1>
        </div>
        <div id="award-lines-container">
            <div class="award-item">
                <div class="award-icon"><img src="@Url.Content("~/Content/home/img/award1.png")"/></div>
                <div class="award-slug">
                    Юридична фірма року в Україні. IFLR Awards 2012.
                </div>
            </div>
            <div class="award-item">
                <div class="award-icon"><img src="@Url.Content("~/Content/home/img/award2.png")"/></div>
                <div class="award-slug">
                    Юридична фірма року: Росія та СНД. Фіналіст. The Lawyer European Awards 2012.
                </div>
            </div>
            <div class="award-item">
                <div class="award-icon"><img src="@Url.Content("~/Content/home/img/award1.png")"/></div>
                <div class="award-slug">
                    Краща юридична фірма на фондовому ринку України. Cbonds Awards 2011.
                </div>
            </div>
        </div>
    </div>
</div>
<div id="news-panel">
    <div class="centerer">
        <div id="news-title"><span>Новини законодавства</span></div>
        <div id="news-block">
            <div class="news-date"><span>13 квітня 2012</span></div>
            <div class="news-text">
                <p>Misechko та партнери - одна з провідних юридичних фірм України, що спеціалізується на супроводженні складних трансакцій та проектів у сфері вирішення спорів. Фірма заслужила високу репутацію серед клієнтів завдяки інноваційним юридичним рішенням в усіх основних галузях права.</p>
                <p>Професійний досвід фірми у таких сферах, як  вирішення судових спорів, конкурентне право, корпоративне право та M&A, міжнародна торгівля, міжнародний арбітраж, нерухомість, оподаткування, реструктуризація заборгованості, трудове право, фінансове право - підтверджений найвищими позиціями у рейтингових таблицях проектів, нагородами та професійними рейтингами.</p>
            </div>
        </div>
    </div>
</div>
